<%- include('./partials/header.ejs') %>
  <!-- views/index.ejs -->

  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIGENDA</title>
  </head>

  <body>
    <div>
      <img id="coverPhoto" src="/images/homepage.png" alt="homepage">
    </div>
  </body>

  </html>


  <%- include('./partials/footer.ejs') %>