* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(235, 233, 235) */
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 8vh 1fr 4vh;
  background-color: rgb(235, 233, 235)
}

a {
  text-decoration: none;
  color: black;
}

nav,
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vmin;
  font-size: 2vh;
  color: lightslategray;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
  background-color: transparent;
  border-radius: 30px;
  border: 3px solid black;
  padding: 15px;
  margin-bottom: 15px;
}

form label {
  background-color: transparent;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

form>button[type="submit"] {
  grid-column: 2;

}

#form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
  border-radius: 30px;
  border: 3px solid black;
  padding: 15px;
  margin-bottom: 15px;
}

#form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

#form form {
  border: none;
}

#buttonHolder {
  display: flex;
  flex-direction: row;
}

#coverPhoto {
  margin-top: 0px;
  width: 100vw;
  height: auto;
}

#newForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  width: 100%;

  #newFormBkg {
    width: 100vw;
  }
}

#newForm img {
  margin-top: -50px;
  width: 100vw;
}


.openGig {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
  padding: 4px;
  text-decoration: none;
  width: 150px;
}

.gigSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.showForm input,
.showForm textarea,
.showForm select:focus {
  outline: none;
}